<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fun</title>
  <link rel="stylesheet" href="styleFun.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

</head>

<body>
  <section id="heading">
    <ul class="circles">
    </ul>
    <div class="main animate__animated animate__rubberBand ">Welcome to fun page !

      <div id="choose animate__animated animate__backInUp">
        <!--link to the famous skribbl game-->
        <div class="opt">
          <a href="https://skribbl.io/">Game</a>
        </div>
        <!--link to youtube-->
        <div class="opt">
          <a href="https://www.youtube.com/" name="youtube">Youtube</a>
        </div>
        <!--link to spotify-->
        <div class="opt">
          <a href="https://www.spotify.com/us/">Spotify</a>
        </div>
      </div>

    </div>
    
</body>

</html>