<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="styleHome.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

</head>

<body>

  <section class="ftco-intro img area" id="main-head-section">
    <div class="container main-head">
      <div class="row justify-content-center">
        <div class="col-md-9 text-center">
          <h1>"Let's Connect"</h1>
          <h4>Connect | Call | Chat</h1>

          <!-- <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul> -->
        </div>
      </div>
    </div>
    </div>
  </section>


  <section class="ftco-intro img" id="about-section">
    <div class="overlay"></div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-9 text-center">
          <h2>Get Started</h2>

          <!--Link to Start Video Call-->
          <p><a href="https://videocall-webapp.herokuapp.com/" target="_blank" rel="noopener noreferrer"
              class="btn btn-two " data-aos="zoom-out-up" data-aos-duration="2000">Start Video Call</a>
            <!--Link to Chat Room-->
            <a class="btn btn-two" href="https://chat----room.herokuapp.com/" data-aos="zoom-out-up"
              data-aos-duration="2000" target="_blank" rel="noopener noreferrer">Enter Chat Room</a>
            <!--Link to Fun Page-->
            <a href="fun" target="_blank" rel="noopener noreferrer" class="btn btn-two " data-aos="zoom-out-up"
              data-aos-duration="2000">Fun</a>
          </p>

        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section contact-section ftco-no-pb" id="contact-section">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-3">
        <div class="col-md-7 heading-section text-center ftco-animate">

          <!-- Footer -->
          <h2 class="mb-4">Developed By</h2>
          <p><a>Soumya Vaish</a></p>
          <a href="https://github.com/Saumya0206"><i class="bi bi-github" id="git"></i></a>
          <a href="https://www.linkedin.com/in/soumya-vaish-6a9b341ab/" id="linkedin"><i class="bi bi-linkedin"></i></a>
          <a href="mailto:saumyaaaaa0206@gmail.com"><i class="bi bi-envelope-open-fill" id="mail"></i></a>
        </div>
      </div>
    </div>
  </section>

  </div>
  </div>
  </div>
  </footer>




  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>

</html>